* {margin:0;padding:0;box-sizing:border-box;}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }
    .item+.item {
        margin-left: 0;
        margin-top: 20px;
    }
}

body {
    display: flex;
    background-color: #F1EFEC;
    color: #000;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #D4C9BE;
    border-radius: 30px;
    padding: 10px;
    max-width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    width: 50%;
    height: 50%;
    padding: 20px;
    background-color: #F5EEDD;
    border-radius: 20px;
}

.item p {
    margin: 20px;
}

.item+.item {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #000;
}